/* HEADER */
/* Block1 */
body, html{
    background-color: #F5F5F5;
}

.espanol {
    text-decoration: underline;
    background-color: #f5f5f5;
}
.centers {
    letter-spacing: 2px
}

/* Block 1 */
.a-z {
    margin-bottom: 0;
}
.ebola {
    border-top: 2px solid blue;
}
.ebola:hover, .measles:hover, .mtbi:hover, .blu:hover, .bleu:hover, .green:hover {
    box-shadow: 5px 10px 18px #888888;
}
.measles {
    border-top: 2px solid green;
}
.mtbi {
    border-top: 2px solid rgba(0, 183, 255, 0.623);
}

/* Block 2 */

/* MAIN */
.cia h1 {
    font-weight: 100 !important;   
}
.outbreak {
   border-left: 2px solid green !important;
}
.Out {
    height: 48px;
}
.news {
    border-left: 2px solid blue !important;
}

.blu {
    border-top: 2px solid blue !important;
    font-weight: 500;
}
.bleu {
    border-top: 2px solid rgba(0, 162, 255, 0.671) !important;
    font-weight: 500;
}
.green {
    border-top: 2px solid green !important;
    font-weight: 500;
}
.dataStat li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dashed grey;
    color: #0077B9; 
    font-size: 12px;
}
.dataStat li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.adv {
    border-bottom: 0px !important;
}

/* FOOTER */
.cwc {
    font-size: 20px !important;
}
footer a {
    color: #fff !important;
}
